+++
title = "Takeoff Engineering Handbook"
linkTitle = "Takeoff Engineering Handbook"

+++

{{< blocks/cover title="Takeoff Technologies Engineering Handbook by Dan Finn, Tyler Catlin and Omer Khan!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/takeoff-projects/omerkhan">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Your guide to Engineering at Takeoff Technologies Inc.</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Welcome to the Takeoff Engineering Handbook, a permanent resource designed to cover all aspects of engineering life here at Takeoff Technologies.

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Have a content idea?" %}}
Add a ticket to our [backlog](https://takeofftech.atlassian.net/secure/RapidBoard.jspa?rapidView=281&projectKey=EH&view=planning.nodetail&issueLimit=100).

Check back soon for our roadmap.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/takeoff-projects/omerkhan" %}}
We use a [Pull Request](https://github.com/takeoff-projects/omerkhan.git/pulls) contributions workflow on **GitHub**. New contributors are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow Takeoff on Twitter!" url="https://twitter.com/takeofftech" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
<h4 class="text-center">"The beginning of knowledge is the discovery of something we do not understand."</h4>
</div>

{{< /blocks/section >}}



 <!-- {{< blocks/section >}}
{{% blocks/feature icon="fab fa-app-store-ios" title="Download **from AppStore**" %}}
Get the Goldydocs app!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/TakeoffTech/engineering-handbook" %}}
We do a [Pull Request](https://github.com/TakeoffTech/engineering-handbook/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/Takeofftech" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}  -->

<!-- {{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">This is another Section</h1>
</div> 

{{< /blocks/section >}} -->
